body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    line-height: 1.4;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

p {
    color: #8f8f8f;
}

.btn {
    font-size: 1rem;
}


/* Headings */

.big-heading {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 7vh;
    line-height: 1.5;
    color: #fff;
}

.section-heading {
    font-size: 2rem;
    line-height: 1.2;
}

/* Sections */
.colored-section {
    background: #ff4c68;
    color: #fff;
}

.white-section {
    background: #fff;
}

/* Containers */

.container-fluid {
    padding: 7% 15%;
}

/* Buttons */

.download-button {
    margin: 5% 3% 5% 0;
}

/* Navigation Bar */

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
}

.nav-item {
    padding: 0 10px;
}

.nav-link {
    font-family: 'Montserrat', sans-serif;
    font-weight: light;
    font-size: 1rem;
}

.nav-link:hover {
    border-bottom: 1px solid #fff;
}

/* Title/ Hero */

#title {
    text-align: left;
}

#title .container-fluid {
    padding: 3% 15% 7%;
}


.hero {
    margin-top: 20px;
}

.phone-mockup {
    transform: 
        rotate(20deg)
        scale(1.1);

    width: 60%;

    /* Bild teilweise versteckem */
    position: absolute; /* A Ist weiter OBEN in HTML + position >> ist weiter UNTEN vom "z-index" her, ohne dass z-index stellen muss */
    right: 30%;
}

.scroll {
    animation: rotate 5s ease-in-out infinite;
}

@keyframes rotate {
    50% {
        transform: 
            rotate(10deg);
    }
}

/* Features */
#features {
    position: relative; /* B Ist weiter UNTEN in HTML + position >> ist weiter OBEN vom "z-index" her, ohne dass z-index stellen muss */
}

.features-container {
    text-align: center;
    margin: 0 10%;
}

.feature-title {
    font-size: 1.25rem;
}

.features-box {
    padding: 5%;
    font-size: 1rem;
}

.features-icon {
    color: #ef8172;
    font-size: 2rem;
    padding-bottom: 20px;
}

.features-icon:hover {
    color: #ff4c68;
}

/* Testimonials */

#testimonials {
    background: #ef8172;
}

.testimonial-image {
    width: 7%;
    border-radius: 100%;
    margin: 20px;
}

.carousel {
    padding-bottom: 100px;
}

.carousel-inner {
    padding: 5%;
    align-content: center;
}

.carousel-item {
    padding-bottom: 0;
}

.slide {
    padding: 0;
}

/* Press */

#press {
    background: #ef8172;
    padding-bottom: 3%;
}

.press-logo {
    width: 10%;
    margin: 20px 20px 50px;
}

/* Pricing */

.card {
    box-shadow: 0 0 10px #ff4c673e;
    transition: transform 250ms ease-in-out;
    margin-top: 50px;
}

.card-header {
    background-color: #ff4c673e;
}

.labrador-card {
    transform: scale(1.1);
    z-index: 100;
}

#pricing {
    line-height: 1.2;
    padding: 100px;
    font-size: 1rem;
}

#pricing .row {
    padding: 0 10%;
}

.pricing-column {
    padding: 3% 2%;
}

.price-text {
    color: #ff4c68;
    
}

.pricing-description {
    display: flex;
    flex-direction: column;
    justify-content: center;   
    padding: 20px 0; 
    height: 200px;
}

.signup.btn-outline-dark  {
    border-color: #ff4c68;
}

.signup.btn-outline-dark:hover  {
    background-color: #ff4c68;
    border: none;
}

.signup.btn-dark  {
    background-color: #ff4c68;
    border: none;
}

.signup.btn-dark:hover  {
    border: 1px solid #ff4c68;;
    background-color: transparent;
    color: #000;
}

/* Call to Action */

#cta {
 padding: 0 10%;   
}

/* Footer */
footer {
    font-size: 1rem;
}

footer .container-fluid {
    height: 200px;
}

.social-icons i {
    display: inline-block;
    margin: 0 5px;
}

.copyright {
    font-weight: 500;
}

@media (max-width: 1100px) {
    body {
        font-size: 2.5vw;
    }
    
    #title {
        text-align: center;
    }
    
    .phone-mockup {
        position: static;
        transform: rotate(0);
    }

    .container-fluid {
        padding: 7% 5%;
    }

    .features-box {
        padding: 2%;
    }

    .card-header h3 {
        font-size: 1.5rem;
    }
}

@media (max-width: 980px){
    #pricing .row {
        margin: 0 20%;
    }
}